/*.aux
/*.fdb_latexmk
/*.fls
/*.log
/*.out
/*.pdf
/*.synctex.gz
/cover/cover-wrap.aux
/cover/cover-wrap.fdb_latexmk
/cover/cover-wrap.fls
/cover/cover-wrap.log
/cover/cover-wrap.out
/cover/cover-wrap.pdf
/cover/cover-wrap.synctex.gz
